
.footer__container{
    width: 100%;
    background-color: var(--gray-color);
    padding: 40px;
    margin-top: 30px;
    display: flex;
    font-family: var(--paragraph-font);
    font-size: 16px;
    color: var(--black-color);
    flex-direction: column;
    gap: 15px;
}
.footer__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__items--list{
    display: flex;
    gap: 4px;
    list-style-type: none;
}