.HomeExperience__container{
    width: 100%;
    padding: 40px;
    margin-top: 60px;
    position: absolute;

}
.HomeExperience__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}