:root{
  --brand-color: rgb(2, 2, 51);
  --gray-color: rgba(128, 128, 128, 0.822);
  --white-color: white;
  --black-color: rgba(0, 0, 0, 0.76);
  --paragraph-font:'Calibri';
  --header-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --bold-font:'Franklin Gothic Medium';
  --border-color: #eee;
  --dashboard-background-color: rgba(245, 247, 251, 255);
  --dashboard-blue-color: rgba(50,112,252,255);
  --gradiant-background: linear-gradient(to right, #3C6AFD, #57C7FA);
  --primary-box-shadow: -3px -1px 10px -4px rgba(0,0,0,0.75);
  --hover-box-shadow: -15px -1px 33px -3px rgba(0,0,0,0.63);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


